html {
  box-sizing: border-box;
}

@media screen and (min-width: 45em) {
  html {
    font-size: calc(1em + 0.25 * (100vw - 45em) / 35);
  }
}

@media screen and (min-width: 80em) {
  html {
    font-size: 1.25em;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Spectral", Georgia, serif;
  font-variant: common-ligatures;
  font-weight: 300;
  line-height: 1.618;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  line-height: 1.618;
  font-weight: 600;
}

h1,
h2,
h3,
h4 {
  margin: 0 0 0.382em;
}

h1 {
  font-size: 2.618em;
}

h2 {
  font-size: 1.618em;
}

h3 {
  font-size: 1em;
}

h4,
p {
  font-size: 1em;
}

p {
  margin: 0 0 1em;
}

@media screen and (min-width: 46.4375em) {
  h1 {
    font-size: 4.236em;
  }

  h2 {
    font-size: 2.618em;
  }

  h3 {
    font-size: 1.618em;
  }
}

pre[class*="language-"] {
  margin: 1.618em 0;
  max-width: 100%;
}

code, table {
  font-size: 0.618em;
  font-family: Monaco, Menlo, Consolas, monospace;
}

table {
  margin-bottom: 1.618em;
}

th {
  padding: 0 1em 0 0;
}

figure,
img {
  max-width: 100%;
  height: auto;
  margin: 0.618em 0;
}

figcaption {
  font-size: 0.618em;
  font-style: italic;
}

article {
  display: grid;
  grid-template-columns: repeat(9, calc(100vw / 9));
}

article > * {
  grid-column: 2 / span 6;
}

@media screen and (min-width: 59.375em) and (orientation: landscape) {
  article {
    grid-template-columns: repeat(18, calc(100vw / 18));
  }

  article header {
    grid-column: 3 / span 14;
    margin: calc(100vh / 9) 0 calc((100vh / 9) * 2);
    height: calc((100vh / 9) * 6);
  }

  article section {
    grid-column: 3 / span 14;
    display: grid;
    grid-template-columns: repeat(14, calc(100vw / 18));
    grid-auto-rows: calc((100vh / 9) * 6);
    grid-row-gap: calc((100vh / 9) * 3);
    align-items: baseline;
  }

  article section > * {
    grid-row: span 1;
  }

  article section > *:nth-child(odd) {
    grid-column: 1 / span 6;
  }

  article section > *:nth-child(even) {
    grid-column: 9 / span 6;
  }
}